In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'name': ['jon', 'alice', 'bob'],
    'gender': ['male', 'female', 'male'],
    'age': [32,43,32]
})

In [4]:
df

    name  gender  age
0    jon    male   32
1  alice  female   43
2    bob    male   32

In [5]:
df.describe()

             age
count   3.000000
mean   35.666667
std     6.350853
min    32.000000
25%    32.000000
50%    32.000000
75%    37.500000
max    43.000000

In [7]:
subset_df = df[['name', 'age']]

In [8]:
subset_df

    name  age
0    jon   32
1  alice   43
2    bob   32